{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container-fluid bg-white">
        <div class="container-fluid pb-4">
            <div class="col-xs-12 col-sm-12 pt-5">
                <div>
                    {{ wo_render_breadcrumbs() }}xxx
                </div>
                {#
                {% include 'contracts/common/menu-contract.html.twig' with {'section': section, 'listContracts': listContracts } %}
                #}
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>UsernameCanonical</th>
                                <th>Email</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="#">show</a>
                                    <a href="">edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#">Create new</a>
                </div>
{% endblock %}
