<ul class="nav nav-tabs mt-2">
    <li class="nav-item">
        <a class="nav-link {% if section is defined and section == 'sent' %}active{% endif %}"    href="{{ path('contracts.listing', {'section':'sent'}) }}">Envoyés</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if section is defined and section == 'received' %}active{% endif %}" href="{{ path('contracts.listing', {'section':'received'}) }}">Recus</a>
    </li>
</ul>