<form class="form-inline" role="form" action="{{ path('home') }}" method="get">
    <div class="col-md-12">
        <div class="form-group ">
            <label for="select"> </label>
            <input type="text" name="search" class="form-control" placeholder="Recherche">
            <button type="submit" class="btn btn-default btn-submit m-2">Lancer la recherche</button>
            <span>
                <a>
                <button data-toggle="collapse" data-target="#collapseTarget" type="button" class="btn btn-default btn-sm">
                    <span class="fa fa-plus-circle"></span> Recherche avancé
                </button>
                </a>
            </span>

        </div>


        <div id="activefilte" class="form-group m-1">

        </div>
    </div>

    <!--
    <button type="submit" class="btn btn-default text-capitalize">
        <i class="fa fa-search"></i>Recherche avancée
    </button>
    -->

    <div class="form-group m-6 collapse " data-toggle="collapse" id="collapseTarget">
        <label class="formsearch" for="select">Catégorie:</label>
        <select class="form-control formsearch" id="select" name="categorie" onchange="changeselect(this.value)">
            <option value="tous">Tous</option>
            {% for category in category %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <label class="formsearch" for="select ">Sous-catégorie:</label>
        <select class="form-control formsearch" id="select" name="ssCategorie" onchange="changeselect(this.value)">
            <option value="tous">Tous</option>
        </select>

        <label class="formsearch" for="select">type offre:</label>
        <select class="form-control formsearch" id="select" name="offreType" onchange="changeselect(this.value)">
            <option value="tous">Tous</option>
            <option value="demande">Demande</option>
            <option value="offre">Offre</option>

        </select>

        <div class="form-group m-1 formsearch">
            <label class="formsearch" style="margin-right: 5px">Prix: Min 0</label>
            <input onchange="priceValue(value)" class="border-0" name="price" type="range" min="0" max="1100">
                <label id="maxprice" style="margin-right: 5px">250€/h Max</label>
        </div>


    </div>
</form>

<script>

    function changeselect(data)
    {
        if(data == 'catégorie')
        {

            $("#activefilte").html(
                "<label class=\"sr-only\" for=\"exampleInputEmail2\">spécialitées:</label>\n" +
                "<select id=\"selectId\" class=\"form-control\" id=\"select\" name=\"speciality\" onchange=\"changeselect(this.value)\">\n" +
                "            <option value=\"tous\">Tous</option>\n" +

                "        </select>"
            )

            $.ajax({
                url: "/ajaxgetListCategorie",
                context: document.body,
                success:function (data) {
                    for (element of data){

                        $('#selectId').append("<option value="+element+"> " + element + "</option>");
                    }
                }
            }).done(function() {

            })
            ;
        }else if(data == 'prix')
        {
            $("#activefilte").html("<div class=\"form-group m-1\"><input onchange=\"priceValue(value)\" class=\"border-0\" name=\"price\" type=\"range\" min=\"0\" max=\"500\" /> <div class=\"form-group m-1\"><p id=\"maxprice\">250€/h</p><\div>\n<\div>")
        }
    }

    function priceValue(data)
    {
      $('#maxprice').text(data+'€/h');

    }

    function getListCategorie() {

    }
</script>