<div class="accordion w-100" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h4 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1- Les conditions particulières
                </button>
            </h4>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Les conditions particulières définissent les modalités dans lesquelles la relation de mentorat s'effectuera.
                Elles sont convenues entre mentors et mentorés et validés par la plateforme.
                Ce volet du contrat de mentorat doit être obligatoirement remplis et signés.
                La plateforme propose une liste de conditions particulières qui doivent être respectées. La liste des conditions est prédéfinie mais restent cependant non exhaustives.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h4 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    2- Les compétences du mentor
                </button>
            </h4>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Les compétences du mentor sont intégralement validées par la plateforme afin de vous offrir un service le plus qualitatif possible.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h4 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    3- Déroulement du mentorat
                </button>
            </h4>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Chaque partie définira point par point les modalités d'accompagnement et objectifs d'accompagnements.<br>
                Le mentor et le mentoré déciderons ensemble d'un nombre total de sessions et ainsi que des durées de chacune des sessions.<br>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h4 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    4- Paiements
                </button>
            </h4>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                Le paiement des sessions sera effectué par le mentoré après validation et signature du contrat.<br>
                Les fonds sont récoltés sur la plateforme, puis par la suite redistribué au mentor proportionnellement au nombre de sessions effectuées.
            </div>
        </div>
    </div>
</div>