<div class="modal fade" id="cancelTooLateResponseModal" tabindex="-1" role="dialog" aria-labelledby="acceptModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Demande d'annulation de la session du {{ session.getProposedDate()|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form class="form-inline" action="{{ path('submit.session') }}" name="formAccept" method="post">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Répondre</label>
                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required="required" name="response">
                        <option value="">Choosissez...</option>
                        <option value="1">J'accepte la demande d'annulation</option>
                        <option value="0">Je refuse la demande d'annulation</option>
                    </select>
                    <button type="submit" class="btn btn-info mb-2">Valider</button>
                    <input name="idSession" type="hidden" value="{{ session.getId() }}">
                    <input name="idPreSession" type="hidden" value="{{ preSession.getId() }}">
                    <input name="action" type="hidden" type="hidden" value="cancelTooLateResponse">
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>