<div class="modal fade" id="endModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog {#modal-dialog-centered"#} role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Annulation de la session du {{ session.getProposedDate()|localizeddate('none', 'none', null, null, 'dd MMMM Y à HH:mm') }}</h4>
            </div>
            <div class="modal-body">
                <form action="{{ path('submit.session') }}" id="formEnd" name="formEnd" method="post">
                    <div class="form-group">
                        <label for="comments">Conte-rendu de la session :</label>
                        <textarea class="form-control" name="comments" rows="3"></textarea>
                    </div>
                    <input name="idSession" type="hidden" value="{{ session.getId() }}">
                    <input name="idPreSession" type="hidden" value="{{ preSession.getId() }}">
                    <input name="action" type="hidden" type="hidden" value="end">
                    <button type="submit" class="btn btn-info">Valider</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>