{% extends 'base.dashbord.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb hide-phone p-0 m-0">
        <li class="breadcrumb-item"><a href="{{ path('dashbord') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item active">Accueil</li>
    </ol>
{% endblock %}


{% block body %}

    <div class="card-body">
        <div class="alert alert-danger mb-0" role="alert">
            <strong>Oups!</strong> il semblerait que votre profil soit incomplet. Veuillez terminer votre inscription
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="text-center">
                    <h4>Les derniers inscrits</h4>
                </div>
            </div>
        </div>
        <div class="row">
            {% for user in users %}
            <div class="col-md-6 col-xl-3">

                <div class="card m-b-30">
                    <img class="card-img-top img-fluid" src="/dashbord/assets/images/small/img-2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title font-20 mt-0">{{ user.username }}</h4>
                        <p class="card-text">Some quick example text to build on the card title and make
                            up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary waves-effect waves-light">Button</a>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>


{% endblock %}
