<div class="modal fade" id="proposeDateModal" tabindex="-1" role="dialog" aria-labelledby="proposeDateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Proposition d'un nouveau créneau horaire</h4>
            </div>
            <div class="modal-body">
                <form action="{{ path('submit.proposition') }}" name="formDate" method="post">
                    <div class="form-group">
                        <div>
                            <label for="validationTooltipUsername">Choisissez une date</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                                </div>
                                <input type="text" class="form-control datetimepicker" name="proposalDate" readonly required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="commentaire">Motif de la contre-proposition :</label>
                        <textarea class="form-control" id="commentaire" name="commentaire" rows="3"></textarea>
                    </div>
                    <input name="idPreSession" type="hidden" value="{{ preSession.getId() }}">
                    <input name="action" type="hidden" type="hidden" value="proposeDate">
                    <button type="submit" class="btn btn-info">Valider</button>
                </form>
            </div>
            <div class="modal-footer">
                <em>Informations sous réserve</em>
            </div>
        </div>
    </div>
</div>