<div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="acceptModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Acceptation de la proposition</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ path('submit.proposition') }}" name="formAccept" method="post">
                    {#
                    <div class="form-group">
                        <label for="commentaire">Commentaire:</label>
                        <textarea class="form-control" id="commentaires" name="commentaire" rows="3"></textarea>
                    </div>
                    #}
                    <input name="idPreSession" type="hidden" value="{{ preSession.getId() }}">
                    <input name="action" type="hidden" type="hidden" value="accept">
                    <button type="submit" class="btn btn-info">Valider</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>