{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!--begin slider-wrapper -->
    <section id="slider-wrapper">
        {% include 'partials/slider-homepage.html.twig' %}
    </section>
    <!--end slider-wrapper -->

    <div class="item services" id="services">

        <div class="container">

            <div class="row text-center">

                <div class="col w-100">
                    <h2 class="section-title-white editContent ">Les derniers inscrits</h2>
                    <div class="separator_wrapper">
                        <div class="separator_first_circle">
                            <div class="separator_second_circle">
                            </div>
                        </div>
                    </div>
                </div><!-- /col-md-8 -->

            </div><!-- /.row -->

            <div id="research-bloc" class="row">
                {% include 'partials/forms/classic-research.html.twig' %}
            </div>

            <div class="row">
                {{ include('partials/list-users.html.twig', { 'users': pagination }) }}
            </div><!-- ./row -->

            {{ include('partials/list-users.pagination.html.twig', { 'users': pagination }) }}



        </div><!-- /.container -->

    </div><!-- /.item -->













    <div class="item dark contact" id="contact">



    </div><!-- /.item -->


{% endblock %}

{% block customJavascripts %}
    <script>
        $( document ).ready(function() {
            $('.user-row').on( "mouseover", function(){
                $(this).css("background-color","#f9f7f7")
            }).on( "mouseout", function(){
                $(this).css("background-color","")
            })
        });
    </script>

{% endblock %}