{% extends 'base.html.twig' %}

{% block title %} {% endblock %}


{% block body %}
    {% include 'account/sections/top-header.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group">
                    {% include 'account/sections/left-menu.html.twig' with {'currentMenu': currentMenu, 'formPhoto': formPhoto } %}
                </div>
            </div>

            <div class="col-md-9 bg-white">
                {% include 'account/sections/bloc-transactions.html.twig' with {
                    'listSessionsReceived': listSessionsReceived,
                    'listSessionsDone': listSessionsDone

                }%}
            </div>
        </div>
    </div>
{% endblock %}

