<p>
    <img style="max-height: 70px;" src="{{ absolute_url('/logo.png') }}" alt="Logo Paque">
</p>
{# templates/emails/registration.html.twig #}
<div style="background-color: whitesmoke; border-radius: 5%;">
    <h3>Bonjour {{ user.getName()}}</h3>

    <p>Vous avez reçu une nouvelle notification, pour voir votre notification: <a href="http://www.paques.com" >Pâques (cliquez ici)</a></p>

    L'équipe Pâque!
</div>

