<p>
    <img style="max-height: 70px;" src="{{ absolute_url('/logo.png') }}" alt="Logo Paque">
</p>
{# templates/emails/registration.html.twig #}
<h3>Bonjour {{ user2.getName()}}</h3>

<p>Une session de mentorat a été créée. Merci d'en prendre connaissance</p>

L'équipe Pâque!
