{% for message in messageList %}
    <div class="row flex-fill {% if message.getAuthor().getId() != app.user.getId() %} even {% endif %}">
        <div class="col-2 col-lg-1 incoming_msg_img">
            <img class="rounded-circle img-responsive img-contract-messagerie" height="80px" width="80px" alt="300x200" src="{{ displayImage(message.getAuthor()) }}">
            <span class="author"><strong>{{ message.getAuthor().getName() }}</strong></span>
        </div>
        <div class="col-7">
            <div class="message m-0 p-2">{{ message.getDescription()|nl2br }}</div>
        </div>
    </div>
{% endfor %}