<h1>Bienvenue {{ username }}!</h1>

<p>
    Pour changer votre mot depasse de votre compte cliquez sur le lien ci-dessous:
</p>
<p>
    <a href="{{ href }}">Click here to activate your account</a>
    (this link is valid until)
</p>