<h1>Bonjour {{ username }}!</h1>
<p>
    Une demande de réinitialisation de mot de passe a été demandée. Pour changer votre mot de passe, merci de cliquer sur le lien ci-dessous :
</p>
<p>
    <a href="{{ href }}">{{ href }}</a>
</p>