{% extends 'base.html.twig' %}

{% block title %}Gestion des sessions{% endblock %}

{% block body %}
    {% include '/common/flash-messages.html.twig' %}

    <div class="container-fluid bg-white">
    <div class="container pb-4">
        <div class="col-xs-12 col-sm-12 pt-5">
            <div>
                {{ wo_render_breadcrumbs() }}
            </div>
            <div class="row">

            </div>
        </div>
    </div>
{% endblock %}