{% extends 'base.html.twig' %}

{% block title %}Gestion des sessions{% endblock %}

{% block body %}
    {% include '/common/flash-messages.html.twig' %}

    <div class="container-fluid bg-white">
        <div class="container pb-4">
            <div class="col-xs-12 col-sm-12 pt-5">
                <div>
                    {{ wo_render_breadcrumbs() }}
                </div>

                <div class="alert alert-primary mt-3 text-center" role="alert">
                    <h3>Status actuel de la proposition : {{ preSession.getStatus().name }}</h3>
                </div>

                {% if preSession.getStatus().value == 4 %} {# pour les pre-sessions validées #}
                    <div class="row pt-5 justify-content-center">
                        <button type="button" class="btn btn-success m-1">Créer une session</button>
                        <button type="button" class="btn btn-danger m-1">Archiver</button>
                    </div>
                {% elseif preSession.getStatus().value == 4 %}
                {% endif %}

                {# affiche le bouton des actions possibles d'une presession selon son status ( valide ou non ) #}
                {{ displayAllButtonsAction(preSession) }}

                {% include 'account-presessions/sections/listing-details-presession-content.html.twig' with {'preSession' : preSession} %}

                {% if preSession.getStatus().value == 4 %}
                    <div class="alert alert-primary mt-5 text-center" role="alert">
                        <h3>Liste des sessions </h3>
                    </div>
                    {% include 'account-presessions/sections/listing-details-session-content.html.twig' with {'preSession' : preSession, 'sessionsList': sessionsList } %}
                {% endif %}
            </div>
        </div>
{% endblock %}